


.header{
    height: 808px;
    width: 1600px;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.all{
    color: #FFFFFF;
    font-size: 65px;
    text-align:right;
    font-weight: 700;
    line-height: 76px;
    font-family: 'Work Sans';
    font-style: normal;

    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}

.there{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    font-family: 'Work Sans';
    font-style: normal;
    color: #FFFFFF;

    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 500px;
}

.Contact{
    position: absolute;
    margin-top: 20px;
    border-radius: 5px;
    width: 109px;
    height: 23px;
    left: 1210px;
    top: 599px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
    width: 160px;
    height: 64px;
    color: #005FAC;
}


/* ..................... My failure .............. */

.failure-person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-work {
    margin: 100px;
}

.person-failure {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
} 


.person-text {
    font-size:none;
    margin-bottom: 10px;
}


ul {
    list-style: none;
}

ul li {
    padding: 5px;
    
}

ul li:before {
    content: '✓';
    color: green;
    margin-right: 12px;
}


/* ................... My Plans............... */

.all-plans{
    margin-bottom: 50px;
    text-align: center;
}

.my-plans{
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
}

.plan-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0px 100px;
}

.plan-name {
    margin: 0px;
    font-weight: 700;
    font-size: 30px;
}

.plan-work {
    color:grey;
    margin: 0px;
    font-weight: 500;
    font-size: 25px;
}





.postive-mind {
    /* background-image: url(./images/watch.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: linear-gradient(90deg, #051c81 0%, rgba(128, 149, 243, 0) 100%), url(./images/watch.png);
    height: 30vh;
    padding: 40px;

}

.postive-mind-content {
    margin-left: 200px;
    padding-top: 20px;
}

.postive-mind-title {
    font-weight: 700;
    font-size: 40px;
    color:white;
}


.call-now{
    position: absolute;
    margin-top: 0px;
    border-radius: 5px;
    /* width: 100px;
    height: 20px; */
    border: none;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
    width: 150px;
    height: 50px;
    color: #005FAC;
}




/* ................... Footer............... */


footer {
    display: flex;
    justify-content: space-around;
    background:black;
    color: white;
    margin-top: 1000px;
    padding: 116px 0px 80px 0px;
}


.footer-left{
    text-align:left;

}



.footer-right{

    text-align:right;

}




.future {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 10px;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
}

.subscribe-button{
    position: absolute;
    margin-top: 0px;
    border-radius: 5px;
    /* width: 100px;
    height: 20px; */
    border: none;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
    width: 150px;
    height: 50px;
    color: black;


}

.email {
    margin: 10px 0px;
}

.mobile {
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 30px;
    padding: 7px;
}