


.header{
    height: 808px;
    width: 1600px;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.all{
    color: #FFFFFF;
    font-size: 65px;
    text-align:right;
    font-weight: 700;
    line-height: 76px;
    font-family: 'Work Sans';
    font-style: normal;

    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}

.there{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    font-family: 'Work Sans';
    font-style: normal;
    color: #FFFFFF;

    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 500px;
}

.Contact{
    position: absolute;
    margin-top: 20px;
    border-radius: 5px;
    width: 109px;
    height: 23px;
    left: 1210px;
    top: 599px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    text-align:center;
    width: 160px;
    height: 64px;
    color: #005FAC;
}

.person{
    align-items: center;
    margin-right: 20px;
    margin-top: 140px;
    margin: 0 200px;
    padding-top: 140px;
}

.info{
    /* display: flex; */
    /* justify-content: center; */
    align-items: left;
    text-align: right;
}



.my{
    position:absolute;
    font-weight: 700;
    font-size: 40px;
    text-align: left;

}

.Contrary{
    /* font-weight: 400;
    font-size: 15px;
    position: absolute; */
    text-align: left;
}


.all-plans{
    margin-bottom: 50px;
    text-align: center;
}

.my-plans{
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
}

.plan-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0px 100px;
}

.plan-name {
    margin: 0px;
    font-weight: 700;
    font-size: 30px;
}

.plan-work {
    color:grey;
    margin: 0px;
    font-weight: 500;
    font-size: 25px;
}




.footer{
    display: flex;
    justify-content: space-around;
    background: #151414;
    color: white;
    margin-top: 100px;
    padding: 116px 0px 500px 0px;
}

.future{
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 20px;
}